* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.btn {
    width: 100%;
    height: 40px;
    color: #fff;
    border: 3px solid #00e676;
    box-shadow: none;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    font-size: 22px;
}